.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(165px, 1fr));
  grid-gap: 10px;
  padding: 10px;
}

.grid-item {
  padding: 20px;
  font-size: 20px;
  text-align: center;
}

/* Use media queries to define how the grid should behave on smaller devices */
