/* @import "../base/global.css"; */
.navbar {
  padding: 19.5px 0px;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: rgba(40, 34, 34, 0.181);
  backdrop-filter: blur(85px);
  z-index: 2;
  border-bottom: 2px solid #e5e5e5;
}
.nav-navigation,
.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-group {
  width: 58%;
  display: flex;
  justify-content: space-between;
}
.nav-list {
  max-width: 497px;
  margin-right: 20px;
}
.nav-items {
  padding: 16px 20px;
}

.nav-link {
  color: var(--secondary-text);
  font-size: 16px;
  font-weight: 500;
  transition: all 0.9s;
}

.nav-link:hover {
  color: var(--black) !important;
}

.btn-toogle {
  display: none;
}

.navbar-responsive.hide {
  left: -1400px;
  transition: all 0.9s;
}
.navbar-responsive {
  position: fixed;
  width: 100%;
  transition: all 0.9s;

  height: 100%;
  top: 78px;
  left: 0px;
  background-color: rgba(40, 34, 34, 0.181);
  backdrop-filter: blur(50px);
  padding: 150px 0px;
}
.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  flex-direction: column;
}
.nav__link {
  color: var(--white);
  font-size: 24px;
}

.btn-md-large {
  width: 80%;
  padding: 25px 20px;
  text-align: center;
  font-size: 24px;
}
