* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

input,
textarea {
  outline: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
}

ul {
  list-style-type: none;
}
