@import "../base/global.css";

body {
  height: 3000px;
}
.header {
  width: 100%;
  height: 901px;
}
.hero__section-home {
  margin-top: 92px;
  width: 100%;
  height: 803px;
  background-image: url("/assets/images/bg-hero.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 150px 0px;
}

.left__section-home {
  max-width: 800px;
  height: 150px;
}

.left-heading {
  margin-bottom: 50px;
  max-width: 640px;
  color: var(--white);
  font-size: 64px;
  font-weight: 700;
  line-height: 120%; /* 76.8px */
}

.btn-home {
  width: 400px;
  height: 100px;
  display: flex;
  justify-content: flex-start;
  gap: 40px;
  padding: 20px 0px;
}

.btn-link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  transition: all 0.9s;
}
.btn-link:hover {
  outline: 3px solid var(--white);
  background-color: var(--green-primary);
}

/* main */
/* .main {
} */
.about-section {
  max-height: 849px;
  background-color: var(--white);
}
.help-smile {
  display: flex;
  gap: 96px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 74px;
}
.help__left {
  max-width: 650px;
}
.border-section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45%;
  margin-bottom: 32px;
  gap: 15px;
  transform: translateX(-130px);
}
.border-stroke {
  width: 72px;
  height: 3px;
  background-color: var(--primary-text);
}
.border-heading {
  color: var(--primary-text);
  font-size: 16px;
  font-weight: 700;

  letter-spacing: 2px;
  text-transform: uppercase;
}
.help__menu-heading {
  max-width: 608px;
  color: var(--primary-text);
  margin-bottom: 32px;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 57.6px */
}
.lead-ipsum {
  max-width: 608px;
  margin-bottom: 48px;
}

.about__foot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.about__foot h5 {
  color: var(--primary-text);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.border-about__foot {
  width: 1050px;
  height: 3px;
  background: #e5e5e5;
}

.logo-section {
  padding: 42px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo__section-link {
  padding: 12px 15px;
  border-radius: 15px;
  transition: all 0.9s;
}
.logo__section-link:hover {
  background-color: var(--green-primary);
}
.site-main-green {
  background-color: #eff7f2;
  height: 901px;
}
/* main */

@media only screen and (min-width: 320px) and (max-width: 425px) {
  .hero__section-home > .container > .left__section-home {
    margin-top: 50px;
  }

  .grid-container {
    grid-template-columns: 1fr;
  }
}
