<<<<<<< HEAD
=======


>>>>>>> b0635a70f253fe197d8879b5248c775be7e616e4
@import "../base/global.css";

#servis {
  width: 100%;
  padding: 70px 0;
  background-color: #eff7f2;
}
<<<<<<< HEAD
.container .header-content {
=======
.container {
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

.header-content {
>>>>>>> b0635a70f253fe197d8879b5248c775be7e616e4
  display: flex;
  margin-top: 96px;
}

.icon__data {
  display: flex;
}
.content__top {
  margin-left: 24px;
  color: var(--Primary-text, #1d2130);
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.content__main {
  margin-top: 32px;
  margin-left: 95px;
  max-width: 496px;

  color: var(--Primary-text, #1d2130);
  font-family: "Roboto";
  font-size: 56px;
  font-weight: 700;
  line-height: 120%;
}

.content__article {
  max-width: 496px;
  margin-top: 16px;
  margin-bottom: 20px;
  margin-left: 95px;
  color: var(--Secondary-text, #525560);

  /* Paragraph */
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
}
.content__btn {
  display: inline-flex;
  padding: 16px 32px;
  margin-left: 95px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-family: "Roboto";
  border-radius: 4px;
  border: none;
  background-color: var(--Green-primary, #70c174);
  color: white;
  backdrop-filter: blur(40px);
}

/* ============content right============== */

.content-right {
  max-width: 592px;
  /* height: 576px; */
  margin-left: 96px;
  border-radius: 12px;
  background-color: white;
  padding: 24px;
}

.column__top {
  display: flex;
  align-items: center;
}

.column__mean {
  display: flex;
  align-items: center;
}
.column__low {
  display: flex;
  align-items: center;
}
.column__img {
  max-width: 100%;
  border-radius: 8px;
  margin-bottom: 20px;
}
.column__text {
  max-width: 296px;
  margin-left: 24px;
  margin-bottom: 8px;
  color: var(--Primary-text, #1d2130);
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 700;
  line-height: 150%; /* 30px */
}
.small__text {
  max-width: 296px;
  margin-left: 24px;

  color: var(--Secondary-text, #525560);

  /* Paragraph */
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
}

.container .team-big__text {
  margin-bottom: 16px;
  color: var(--Primary-text, #1d2130);
  text-align: center;

  /* H2 */
  font-family: "Roboto";
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 57.6px */
}

.team-article__text {
  max-width: 450px;
  /* margin-top: 16px; */
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 48px;
  color: var(--Secondary-text, #525560);
  text-align: center;

  /* Paragraph */
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
}
/* ===============risponsive============= */

@media (min-width: 320px) and (max-width: 800px) {
  .header-content {
    flex-direction: column;
  }
  .content__left {
    width: 100%;
  }
  .content-right {
    width: 100%;
  }
}
@media (min-width: 320px) and (max-width: 800px) {
  .column__top,
  .column__mean,
  .column__low {
    flex-direction: column;
  }
  .icon__data {
    display: none;
  }
  .content-right,
  .content__left {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
  .content__main,
  .content__article,
  .content__btn {
    margin-left: auto;
  }

  .column,
  .content__left {
    text-align: center;
    margin-bottom: 20px;
  }
}

/* =================main==================== */

.team-box {
  display: flex;
  gap: 24px;
}
.team__img {
  width: 100%;
  
}

.big__text {
  max-width: 290px;
  margin-bottom: 8px;
  margin-right: auto;
  margin-left: auto;
  color: #1d2130;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 500;
  line-height: 150%; /* 30px */
}

.small__text {
  max-width: 290px;
  margin-right: auto;
  margin-left: auto;
  color: #525560;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
}
/* ============risponsive================ */

@media (min-width: 320px) and (max-width: 800px){
  .team-box{
    flex-direction: column;
  }
  .big__text, .small__text{
    text-align: center;
  }
}

/* ==============section==================== */

.sec6 {
  margin-top: 96px;
  margin-bottom: 96px;
}
.sec6-cards {
  margin-top: 48px;
  display: flex;
  justify-content: space-between;
}
.sec6-card-left {
  display: flex;
  max-width: 628px;
  border-radius: 8px;
  background: var(--Green-secondary, #bef3c0);
  padding: 32px 48px 40px 40px;
}
.sec6-card-left1 {
  display: flex;
  max-width: 628px;
  border-radius: 8px;
  background: var(--Green-secondary, #bef3c0);
  padding: 32px 48px 40px 40px;
}
.sec6-card-left span h3 {
  color: var(--Primary-text, #1d2130);
  font-size: 48px;
  font-weight: 500;
  line-height: 120%;
  font-variant: small-caps;
}
.sec6-card-left span h4 {
  color: var(--Primary-text, #1d2130);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding-left: 24px;
  padding-right: 23px;
}
.sec6-card-left span h5 {
  color: var(--Primary-text, #1d2130);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.sec6-card-left h2 {
  color: var(--Primary-text, #1d2130);
  font-size: 28px;
  font-weight: 700;
  line-height: 150%;
  max-width: 381px;
  padding: 8px 24px 0 24px;
}
.sec6-line {
  display: flex;
}
.sec6-img {
  max-width: 56px;
  height: 56px;
}

@media (min-width: 320px) and (max-width: 800px){
  .sec6{
    width:100%;
    flex-direction: column;
  }
  .sec6-card-left{
    /* width: 100%; */
    flex-direction: column;
    text-align: center;
  }
  .sec6-card-left1{
    /* width: 100%; */
    flex-direction: column;
    text-align: center;
  }
}
/* section our events end */