@import "../base/global.css";

header {
  height: 100px;
  max-width: 100%;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}
.project-content {
  display: flex;
  gap: 30px;
}
.project-paragraph {
  max-width: 900px;
}
.project-content-text-p p,
.project-content-text2 p,
.project-paragraph p {
  margin-bottom: 30px;
  color: var(--Secondary-text, #525560);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
  max-width: 830px;
}
.project-content-text h5,
h1,
p {
  font-family: Roboto;
  color: var(--Primary-text, #1d2130);
  font-weight: 700;
  margin-bottom: 35px;
}

.project-content-text h5 {
  font-size: 16px;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.project-content-text2 h1,
.project-content-text h1 {
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  max-width: 830px;
}
.project-img img {
  max-width: 100%;
  margin-bottom: 50px;
}
.project-content-text-p img {
  margin-bottom: 30px;
  width: 100%;
}
.project-content-image {
  max-width: 700px;
}

.project-info {
  background-color: #ebf0f9;
  padding: 100px;
  margin-bottom: 100px;
}
.project-info-content {
  display: grid;
  grid-template-columns: auto auto;
}
.info-card {
  display: flex;
  gap: 10px;
}
.info-card h3 {
  color: var(--Primary-text, #1d2130);
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%; /* 38.4px */
  margin-bottom: 5px;
}
.info-card p {
  max-width: 436px;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
}

.project-cards {
  margin-bottom: 100px;
}
.cards-project {
  display: flex;
  gap: 25px;
}

.card3-bac-img,
.card2-bac-img,
.card1-bac-img {
  max-width: 411px;
  height: 421px;
  flex-shrink: 0;
  border-radius: 12px;
  opacity: 0.9;
  background: var(--Black, #0b0706);
}
.card1-bac-img {
  background-image: url(../../assets/images/contact.images/card1.png);
}
.card2-bac-img {
  width: 100%;
  background-image: url(../../assets/images/contact.images/card2.png);
}
.card3-bac-img {
  width: 100%;
  background-image: url(../../assets/images/contact.images/card3.png);
}
.project-card1 h1,
.project-card2 h1,
.project-card3 h1 {
  padding: 70px 45px 25px 45px;
  color: #fff;
  font-family: Roboto;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 42px */
}

.project-card1 p,
.project-card2 p,
.project-card3 p {
  color: #fff;
  padding: 16px 48px;
  /* Paragraph */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
}
.project-card1 button,
.project-card2 button,
.project-card3 button {
  margin-left: 120px;
  display: inline-flex;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  background: #fff;
  backdrop-filter: blur(40px);
  color: var(--Primary-text, #1d2130);
  text-align: right;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.project-card1 button:hover,
.project-card2 button:hover,
.project-card3 button:hover {
  color: #fff;
  background-color: #0b0706;
  transition: 0.5s;
}

@media (max-width: 900px) {
  .cards-project,
  .project-info-content {
    display: block;
    margin-left: 100px;
  }
}
@media (max-width: 600px) {
  .project-content,
  .cards-project {
    display: block;
    margin-left: 0px;
  }
  .project-info-content {
    grid-template-columns: auto;
    margin: 0;
    padding: 0;
    margin-left: -90px;
  }
}

.sec4-bgimg {
  background-image: url(../../assets/images/contact.images/tint.png);
  max-width: 1280px;
  /* height: 384px; */
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 96px;
}
.sec4-txt h2 {
  max-width: 631px;
  color: #fff;
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  line-height: 120%;
  margin: 0 auto;
  padding-top: 93px;
}
.sec4-txt span {
  display: flex;
  justify-content: center;
  gap: 32px;
  margin-top: 32px;
  padding: 92px;
}
.sec4-txt span img {
  cursor: pointer;
}
.sec4-txt span button {
  border-radius: 5px;
  background: #fff;
  padding: 16px 32px;
  gap: 10px;
}
.sec4-txt span button:hover {
  background-color: #0b0706;
  color: #fff;
  transition: 0.5s;
}
