
@import "../base/global.css";


/* hero section start */

.border-servis__heading{
    color: var(--primary-text);
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 32px;
}

.heading-servise{
    width: 461px;
    color: var(--Primary-text, #1D2130);
    font-family: "Roboto";
    font-size: 56px;
    font-weight: 700;
    line-height: 120%; 
    margin-bottom: 34px;
}


.paragriph-servis{
    width: 594px;
    color: var(--Secondary-text, #525560);
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 400;
    line-height: 160%; /* 25.6px */
}

.grid-item{
    padding: 200px 0px;
    
}

.grid-item >img{    
    margin-left: 145px;
    max-width: 100%;
}


.grid-container{
    display: flex;
    gap: 25px;
}
/* hero section end */



/* section about css start */
.about-us{
    padding: 96px 0px 104px 0px;
}


#about{
    width: 100%;
    height: 574px;
    background: var(--green-tertiary);

}

.home-cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 116px;
}

.card__different{
    display: flex;
    gap: 24px;
}


.home__main__heading{
    color: var(--Primary-text);
    margin-bottom: 64px;

/* H2 */
    font-family: "Roboto";
    font-size: 48px;
    font-weight: 700;
    line-height: 120%; /* 57.6px */
}

.card__paragraph{
    width: 332px;
    color: var(--Secondary-text);

/* Paragraph small */
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 400;
    line-height: 160%; /* 22.4px */
}

.card__paragraph{
    margin-bottom: 48px;
}


/* section about css end */



/* section our events start */
.sec6 {
  margin-top: 96px;
  margin-bottom: 96px;
}
.sec6-cards {
  margin-top: 48px;
  display: flex;
  justify-content: space-between;
}
.sec6-card-left {
  display: flex;
  max-width: 628px;
  border-radius: 8px;
  background: var(--Green-secondary, #bef3c0  );
  padding: 32px 48px 40px 40px;
}
.sec6-card-left span h3 {
  color: var(--Primary-text, #1d2130);
  font-size: 48px;
  font-weight: 500;
  line-height: 120%;
  font-variant: small-caps;
}
.sec6-card-left span h4 {
  color: var(--Primary-text, #1d2130);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding-left: 24px;
  padding-right: 23px;
}
.sec6-card-left span h5 {
  color: var(--Primary-text, #1d2130);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.sec6-card-left h2 {
  color: var(--Primary-text, #1d2130);
  font-size: 28px;
  font-weight: 700;
  line-height: 150%;
  max-width: 381px;
  padding: 8px 24px 0 24px;
}
.sec6-line {
  display: flex;
}
.sec6-img {
  max-width: 56px;
  height: 56px;
}
@media (max-width: 1000px) {
  .sec6 {
    margin-left: 200px;
  }
  .sec6-cards {
    display: grid;
    grid-template-columns: auto;
    gap: 50px;
  }
}
@media (max-width: 700px) {
  .sec6 {
    margin-left: 0px;
  }
}
@media (max-width: 500px) {
  .sec6 {
    margin-left: 0px;
  }
}

/* section our events end */


/* section sustainable start */


.sustainable-heading{
    padding: 96px 0px 64px 0px;
}

.sustainable__common__heading{
    color: var(--Primary-text);
    font-family: "Roboto";
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.sustainable__main__heading{
    width: 700px;
    color: var(--Primary-text);
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    font-family: "Roboto";
    font-size: 48px;
    font-weight: 700;
    line-height: 120%; /* 57.6px */
}


.project-cards {
    margin-bottom: 100px;
}
.cards-project {
display: flex;
gap: 25px;
}

.card3-bac-img , .card2-bac-img , .card1-bac-img {
    max-width: 411px;
height: 421px;
flex-shrink: 0;
border-radius: 12px;
opacity: 0.9;
background: var(--Black, #0B0706);
}
.card1-bac-img {
    width: 100%;
    background-image: url(../../assets/images/contacts/card1.png);

}
.card2-bac-img{
    width: 100%;
    background-image: url(../../assets/images/contact.images/card2.png);
}
.card3-bac-img{
    width: 100%;
    background-image: url(../../assets/images/contact.images/card3.png);
}
.project-card1 h1 , .project-card2 h1 , .project-card3 h1 {
    padding:70px 45px 25px 45px ;
    color: #FFF;
font-family: Roboto;
font-size: 28px;
font-weight: 700;
line-height: 150%; /* 42px */
}

.project-card1 p , .project-card2 p , .project-card3 p {
    color: #FFF;
    padding:16px 48px;
/* Paragraph */
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 160%; /* 25.6px */
}
.project-card1 button , .project-card2 button  , .project-card3 button  {
    margin-left:  120px;
    display: inline-flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background: #FFF;
    backdrop-filter: blur(40px);
    color: var(--Primary-text, #1D2130);
    text-align: right;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;

}

.btn__group__donate{
    padding-left: 466px;
    margin-top: 32px;
}

.btn__group__donate{
    display: flex;
    gap: 32px;

}

.project-card1 button:hover , .project-card2 button:hover  , .project-card3 button:hover{
    color: #FFF;
    background-color: #0B0706;
    transition: 0.5s;
}
.sec4-bgimg {
    background-image: url(../../assets/images/contacts/tint.png );
    max-width: 1280px;
    height: 384px;
    /* height: 384px; */
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 96px;
  }
  .sec4-txt h2 {
    max-width: 631px;
    color: #fff;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    line-height: 120%;
    margin: 0 auto;
    padding-top: 93px;
  }
  .sec4-txt span {
    display: flex;
    justify-content: center;
    gap: 32px;
    margin-top: 32px;
    padding: 92px;
  }
  .sec4-txt span img {
    cursor: pointer;
  }
  .sec4-txt span button {
    border-radius: 5px;
    background: #fff;
    padding: 16px 32px;
    gap: 10px;
  }
  .sec4-txt span button:hover {
    background-color: #0B0706;
    color: #FFF;
    transition: 0.5s
  }
/* section sustainable end */


/* media css */
  .sec6 {
  margin-top: 96px;
  margin-bottom: 96px;
}
.sec6-cards {
  margin-top: 48px;
  display: flex;
  justify-content: space-between;
}
.sec6-card-left {
  display: flex;
  max-width: 628px;
  border-radius: 8px;
  background: var(--Green-secondary, #bef3c0);
  padding: 32px 48px 40px 40px;
}
.sec6-card-left span h3 {
  color: var(--Primary-text, #1d2130);
  font-size: 48px;
  font-weight: 500;
  line-height: 120%;
  font-variant: small-caps;
}
.sec6-card-left span h4 {
  color: var(--Primary-text, #1d2130);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding-left: 24px;
  padding-right: 23px;
}
.sec6-card-left span h5 {
  color: var(--Primary-text, #1d2130);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.sec6-card-left h2 {
  color: var(--Primary-text, #1d2130);
  font-size: 28px;
  font-weight: 700;
  line-height: 150%;
  max-width: 381px;
  padding: 8px 24px 0 24px;
}
.sec6-line {
  display: flex;
}
.sec6-img {
  max-width: 56px;
  height: 56px;
}
@media (max-width: 1000px) {
  .sec6 {
    margin-left: 200px;
  }
  .sec6-cards {
    display: grid;
    grid-template-columns: auto;
    gap: 50px;
  }
}
@media (max-width: 700px) {
  .sec6 {
    margin-left: 0px;
  }
}
@media (max-width: 500px) {
  .sec6 {
    margin-left: 0px;
  }
}

/* section our events end */



/* media css */

.team-box {
  display: flex;
  gap: 24px;
}
.team__img {
  width: 100%;
  
}

.big__text {
  max-width: 290px;
  margin-bottom: 8px;
  margin-right: auto;
  margin-left: auto;
  color: #1d2130;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 500;
  line-height: 150%; /* 30px */
}

.small__text {
  max-width: 290px;
  margin-right: auto;
  margin-left: auto;
  color: #525560;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
}


/* media css */




/* contact css start */

.contact-forms {
  padding-top: 100px;
  padding-bottom: 180px;
}
.contact-inputs {
  display: flex;
  gap: 109px;
}

.form-container {
  max-width: 770px;
  margin: 0 auto;
}

.input-left {
  display: flex;
  flex-direction: column;
}
.inputs-button button.input-bottom.input-left label,
input {
  color: var(--Primary-text, #1d2130);
  font-family: Roboto;
  font-style: normal;
  line-height: 160%;
}
.input-left label {
  font-size: 12px;
  font-weight: 700;
  opacity: 0.6;
  margin-bottom: 10px;
}
.input-left input {
  margin-bottom: 32px;
  max-width: 100%;
  height: 45px;
  font-size: 19px;
  font-weight: 400;
  border: none;
  box-shadow: 0 1px 0 0 #e5e5e5;
}
.input-bottom input {
  width: 100%;
  height: 179px;
  font-size: 16px;
  font-weight: 400;
  padding: 0 0 120px 20px;
  border-radius: 4px;
  border: 1px solid var(--Border, #e5e5e5);
}
.inputs-button button {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  border-radius: 4px;
  background: var(--Green-primary, #70c174);
  backdrop-filter: blur(40px);
  display: inline-flex;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.inputs-button {
  text-align: center;
  margin-top: 32px;
}
.inputs-button button:hover {
  color: #70c174;
  background-color: #fff;
  border: 1px solid #70c174;
  cursor: pointer;
  transition: 0.4s;
}

.container-map {
  width: 100%;
  margin: 0 auto;
}
.map-contact img {
  width: 100%;
}
@media (max-width: 1100px) {
  .contact-content {
    display: block;
  }
  .contact-left {
    text-align: center;
    margin-left: 60px;
  }
}
@media (max-width: 650px) {
  .contact-inputs {
    display: block;
  }
  .contact-talk-tel {
    display: block;
  }
  .contact-right {
    display: block;
    margin-left: 80px;
  }
}

/* contact css end */

.heading-contact{
    
}


.border-section{
    width: 100%;
    height: 684px;
    border: 1px solid black;
    margin-bottom: 70px;
    border-radius: 8px;
    background: #FFF;
}

.cantact__head{
    width: 341px;
    color: #1D2130;
    font-family: "Roboto";
    font-size: 40px;
    font-weight: 700;
    line-height: 140%; /* 56px */
}

.cantact__paragraph{
    width: 544px;
    color: var(--Secondary-text);

/* Paragraph small */
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 400;
    line-height: 160%; /* 22.4px */
}










